$primary-color: #212121;
$secondary-color: #f7f9ee;
$orange-color: #ff961c;
$stone900-color: #ccceb7;
$skyblue-color: #6bc6ec;

$heading-font-weight: 500;
$text-font-weight: 400;

// desktop
$desktop-h1: 64px;
$desktop-h1-lh: 64px;
$desktop-h2: 40px;
$desktop-h2-lh: 40px;
$desktop-h3: 32px;
$desktop-h3-lh: 35px;
$desktop-h4: 24px;
$desktop-h4-lh: 26px;
$desktop-h5: 26px;
$desktop-h5-lh: 17.6px;
$desktop-h6: 14px;
$desktop-h6-lh: 15.4px;

$desktop-large: 24px;
$desktop-large-lineheight: 31.2px;
$desktop-medium: 20px;
$desktop-medium-lineheight: 26px;
$desktop-regular: 16px;
$desktop-regular-lineheight: 20.8px;
$desktop-small: 14px;
$desktop-small-lineheight: 18.2px;
$desktop-xsmall: 12px;
$desktop-xsmall-lineheight: 15.6px;

$mobile-h1: 40px;
$mobile-h1-lh: 40px;
$mobile-h2: 28px;
$mobile-h2-lh: 30.8px;
$mobile-h3: 20px;
$mobile-h3-lh: 22px;
$mobile-h4: 18px;
$mobile-h4-lh: 19.8px;
$mobile-h5: 14px;
$mobile-h5-lh: 15.4px;
$mobile-h6: 13px;
$mobile-h6-lh: 14.3px;

$mobile-large: 20px;
$mobile-large-lineheight: 26px;
$mobile-medium: 16px;
$mobile-medium-lineheight: 20.8px;
$mobile-regular: 14px;
$mobile-regular-lineheight: 18.2px;
$mobile-small: 13px;
$mobile-small-lineheight: 16.9px;
$mobile-xsmall: 12px;
$mobile-xsmall-lineheight: 15.6px;
